html, body {
    text-align: right;
    color:black; 
    font-size:0.9em;
    font-family: "Courier New", Fixed, monospace, Courier;
}

#entry tr { background: #FFF; }

#z-push-devices { margin: auto; align: center;}
#z-push-devices th { text-align: right; padding: 0px 10px 0px 10px; vertical-align: text-top; }
#z-push-devices td { text-align: left;  padding: 0px 10px 0px 10px; }
#z-push-devices tr:nth-child(odd) { background: #FFF }
#z-push-devices tr:nth-child(even) { background: #DDD }
#z-push-devices .center { text-align: center; }
#z-push-devices tr.hover:hover { background: #BBB }

#z-push-details { margin: auto; align: center;}
#z-push-details th { text-align: right;  padding: 0px 10px 0px 10px; vertical-align: text-top; }
#z-push-details td { text-align: left;   padding: 0px 10px 0px 10px; }
#z-push-details tr:nth-child(odd) { background: #FFF }
#z-push-details tr:nth-child(even) { background: #DDD }
#z-push-details .center { text-align: center; }
#z-push-details tr.hover:hover { background: #BBB }

#z-push-errors { margin: auto; align: center; width: 100%;}
#z-push-errors th { text-align: right;  padding: 0px 10px 0px 10px; vertical-align: text-top; }
#z-push-errors td { text-align: left;   padding: 0px 10px 0px 10px; }
#z-push-errors tr:nth-child(odd) { background: #FFF }
#z-push-errors tr:nth-child(even) { background: #DDD }
#z-push-errors .center { text-align: center; }
#z-push-errors tr.hover:hover { background: #BBB }
