html, body {
	text-align: right;
	color:black; 
	font-size:0.9em;
	font-family: "Courier New", Fixed, monospace, Courier;
}

#entry tr { background: #FFF; }

#zarafa-login-errors th { padding: 0px 10px 0px 10px; white-space: nowrap; }
#zarafa-login-errors td { padding: 0px 10px 0px 10px; white-space: nowrap; }
#zarafa-login-errors tr.hover:hover { background: #BBB }
#zarafa-login-errors .number { text-align: right; }

.hide { display: none; }
.show { display: table-row; }
