html, body {
	text-align: right;
	color:black; 
	font-size:0.9em;
	font-family: "Courier New", Fixed, monospace, Courier;
}

tr:nth-child(odd) { background: #FFF }
tr:nth-child(even) { background: #DDD }
th { text-align: center; padding: 0px 10px 0px 10px; }
td { text-align: left; padding: 0px 10px 0px 10px; white-space: nowrap; }

tr.details:hover { background: #BBB }
