html, body {
	text-align: right;
	color:black; 
	font-size:0.9em;
	font-family: "Courier New", Fixed, monospace, Courier;
}

#entry tr { background: #FFF; }

#zarafa-group { margin: auto; align: center;}
#zarafa-group th { text-align: right; padding: 0px 10px 0px 10px; vertical-align: text-top; }
#zarafa-group td { text-align: left;  padding: 0px 10px 0px 10px; }
#zarafa-group tr:nth-child(odd) { background: #FFF }
#zarafa-group tr:nth-child(even) { background: #DDD }
#zarafa-group .center { text-align: center; }
#zarafa-group tr.hover:hover { background: #BBB }

#zarafa-groups { margin: auto; align: center;}
#zarafa-groups th { text-align: right;  padding: 0px 10px 0px 10px; vertical-align: text-top; }
#zarafa-groups td { text-align: left;   padding: 0px 10px 0px 10px; }
#zarafa-groups tr:nth-child(odd) { background: #FFF }
#zarafa-groups tr:nth-child(even) { background: #DDD }
#zarafa-groups .center { text-align: center; }
#zarafa-groups tr.hover:hover { background: #BBB }
