/*General Settings*/
body, div, p, link, td, option, li, ol, ul  
{
	color:black; 
	font-size:0.9em; 
	font-family:"Trebuchet MS", Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
}
select, input, textarea 
{
	color: black; 
	font-size: 0.8em; 
	line-height: 1em; 
	font-family: "Trebuchet MS", Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
}
a  
{
	color:#039; 
	font-family:"Trebuchet MS", Arial, Helvetica, Geneva, Swiss, SunSans-Regular; 
	text-decoration: underline
}
html, body
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

a:link, a:visited
{
    text-decoration: none;
}

a:hover, a:active 
{
    text-decoration: underline;
}


/*Settings for Page Header and Side Panel*/
#frame-wrapper
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
#frame-header
{
	background: url(/images/header-line.gif) left top repeat-x black;
	height: 56px;
	overflow: hidden;
}

#header-panel
{
	background: url(/images/header-backgnd.gif) scroll 0% 0% no-repeat transparent;
	height: 56px;
}

#header-title1
{
	float: left;
	height: 56px;
	padding-top: 3px;
	padding-left: 14px;
	font-size: 1.6em;
	color: white;
}

#header-title2
{
	float: left;
	height: 56px;
	padding-left: 40px;
	padding-top: 36px;
	font-size: 1.2em;
	color: black;
}

#header-opwlogo
{
	background: transparent url(/images/header-opwlogo.jpg) right top no-repeat;
	height: 60px;
	padding-top: 37px;
	padding-right: 65px;
	color: #3A3B38;
	text-align: right;
}

#frame-table
{
	overflow: scroll;
	width: 100%;
	border: 0px;
	border-collapse: collapse;	
	height: 90%;
}

#table-header
{
	background-color: #EFEEE9;
	border-bottom: #999999 solid 1px;
	font-size: .8em;
	white-space: nowrap;
	text-align: left;
}

#table-user
{
	background-color: #EFEEE9;
	border-bottom: #999999 solid 1px;
	font-size: .8em;
	white-space: nowrap;
	text-align: right;
}

#table-commands
{
	background-color: white;
	text-align: left;
	vertical-align: top;
	width: 150px;
	height: 100%;
	white-space: nowrap;
 	margin-left:10px;
	margin-top: 1cm;
}

#table-results
{
	text-align: left;
	vertical-align: top;
	height: 100%;
 	margin-left: 150px;
	margin-top: 1cm;
}

#cmdiframe
{
	text-align: left;
	vertical-align: top;
	width: 100%;	
	height: 100%;
	border: none;
}

#blankpage
{
	float: left;
	height: 100%;
	width: 100%;	
	font-size: 1.2em;
	color: black;
	text-align: center;
	vertical-align: middle;	
}



.LightRow
{
	background-color: white;
}

.DarkRow
{
	background-color: #EFEEE9;
}



/* General */
#loading {
  display: block;	
	width: 120px; 
	height: 20px; 
	z-index: 9999;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -60px;
}

.entry { background: #FFF; }
.entry tr:nth-child(odd) { background: #FFF }
.entry tr:nth-child(even) { background: #DDD }
.entry:hover { background: #BBB; }




/* Logs */
.logdata
{
	color:black; 
	font-size :0.8em; 
	font-family: "Courier New", Courier, monospace;
	text-align: left;
}


.logdata:hover 
{ 
	background: #BBB;
	font-weight: bold;
}

/*
#zarafa-user-quota tr:nth-child(odd) { background: #FFF }
#zarafa-user-quota tr:nth-child(even) { background: #DDD }
*/

/* Login Errors */
#entry tr { background: #FFF; }

#zarafa-login-errors th { padding: 0px 10px 0px 10px; white-space: nowrap; }
#zarafa-login-errors td { padding: 0px 10px 0px 10px; white-space: nowrap; }
#zarafa-login-errors tr.hover:hover { background: #BBB }
#zarafa-login-errors .number { text-align: right; }

.hide { display: none; }
.show { display: table-row; }


/* Users */
#userdetail th { text-align: right; padding: 0px 10px 0px 10px; vertical-align: text-top; }
#userdetail td { text-align: left;  padding: 0px 10px 0px 10px; }
#userdetail tr:nth-child(odd) { background: #FFF }
#userdetail tr:nth-child(even) { background: #DDD }
#userdetail .center { text-align: center; }
#userdetail tr.hover:hover { background: #BBB }

